.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.search-bar {
  width: 20%;
  border: none;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(17, 3, 82, 0.601);
}

.search-button {
  background: rgb(45, 48, 245);
  border: none;
  padding: 10px 40px;
  color: white;
  border: 2px solid rgba(17, 3, 82, 0.601);
  border-radius: 20px;
  margin-left: 10px;
}

.search-button:hover {
  background-color: rgba(134, 133, 133, 0.601);
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formHead {
  padding-right: 20px;
  font-size: 23px;
  padding-top: 10px;
  text-align: center;
}
