.navbar {
  padding: 5px;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  height: 10vh;
  color: rgb(177, 245, 245);
}

.icon {
  padding-right: 10px;
  color: gray;
}

.texta {
  float: left;
  color: rgba(0, 0, 0, 0.601);
  font-style: italic;
}

.textb {
  text-align: right;
  float: right;
  font-style: italic;
  color: rgba(49, 45, 45, 0.601);
}

.favicon {
  height: 15px;
  width: 15px;
  float: left;
}
